body {
  margin: 0;
  padding: 0;
  background-color: #12121f;
  font-family: 'Arial', sans-serif;
  color: #ecf0f1; /* Text color */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

/* Cemter the title */
h1 {
  text-align: center;
  color: #f39c12; /* Bright gold */
  font-size: 36px;
  margin-top: 40px;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
}